
x
.bg-Throwing_000 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -10px;
}

x
.bg-Throwing_001 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -802px;
}

x
.bg-Throwing_002 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -406px;
}

x
.bg-Throwing_003 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -406px;
}

x
.bg-Throwing_004 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -10px;
}

x
.bg-Throwing_005 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -406px;
}

x
.bg-Throwing_006 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -802px;
}

x
.bg-Throwing_007 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -802px;
}

x
.bg-Throwing_008 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-Throwing_009 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -1198px;
}

x
.bg-Throwing_010 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -1198px;
}

x
.bg-Throwing_011 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -1198px;
}

x
.bg-Throwing_012 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -10px;
}

x
.bg-Throwing_013 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -406px;
}

x
.bg-Throwing_014 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -802px;
}

x
.bg-Throwing_015 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -1198px;
}