
x
.bg-Running_000 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -10px;
}

x
.bg-Running_001 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -10px;
}

x
.bg-Running_002 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -406px;
}

x
.bg-Running_003 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -406px;
}

x
.bg-Running_004 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -10px;
}

x
.bg-Running_005 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -406px;
}

x
.bg-Running_006 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -802px;
}

x
.bg-Running_007 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -802px;
}

x
.bg-Running_008 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -802px;
}

x
.bg-Running_009 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -1198px;
}

x
.bg-Running_010 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -1198px;
}

x
.bg-Running_011 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -1198px;
}

x
.bg-Running_012 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-Running_013 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -406px;
}

x
.bg-Running_014 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -802px;
}

x
.bg-Running_015 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -1198px;
}

x
.bg-Running_016 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -10px -1594px;
}

x
.bg-Running_017 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -560px -1594px;
}

x
.bg-Running_018 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1110px -1594px;
}

x
.bg-Running_019 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -1660px -1594px;
}

x
.bg-Running_021 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -2210px -10px;
}

x
.bg-Running_020 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -2210px -406px;
}

x
.bg-Running_022 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -2210px -802px;
}

x
.bg-Running_023 {
    width: 530px; height: 376px;
    background: url('css_sprites.png') -2210px -1198px;
}