* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/level1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
	min-width: 1280px;
	min-height: 720px;

}

.buttons-example {
	z-index: 2;
	user-select: none;
}

button {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	    border: 2px solid #000;
	outline: none;
	background-color: tomato;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	margin: 50px;
	transition: all .4s ease;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
	background-color: red;
	filter:  brightness(110%);
	-webkit-box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);
}

.container {
	position: absolute;
	left: 0px;
	bottom: 10px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: flex-end;
	padding: 0px 150px;
	box-sizing: border-box;
}

.character-container {
	width: 200px;
	height: 200px;
	position: relative;
}

.anticharacter-container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	/*    background-color: red;  */
}

.ogr {
	width: 184px;
}

.hero {
	width: 138px;
	position: relative;
	z-index: 5;
}

.hand {
	width: 34px;
	position: absolute;
	top: 110px;
	right: 80px;
	z-index: 4;
	transition: all .2s ease;
}

.hand.active {
	width: 34px;
	position: absolute;
	top: 87px;
	right: 60px;
	z-index: 4;
	transform: rotate(-90deg);
}

.left-leg {
	position: absolute;
	bottom: -12px;
	left: 61px;
	z-index: 3;
	transition: all .2s ease;
	width: 44px;
	height: 37px;
}

.active-left {
	transform: rotate(-12deg);
	left: 71px;
}

.active-right {
	transform: rotate(-18deg);
}

.right-leg {
	position: absolute;
	bottom: -12px;
	left: 30px;
	z-index: 4;
	transition: all .2s ease;
	width: 44px;
	height: 37px;
}

.fire {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	right: 150px;
}

.fire img {
	opacity: 0;
	width: 400px;
	position: relative;
	bottom: 250px;
	right: 81px;
	transition: all .4s ease;
}

.fire img.show {
	opacity: 1;
}

.thunder {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	right: 150px;
	transform: rotate(-50deg);
}

.thunder img {
	opacity: 0;
	width: 300px;
	position: relative;
	/* bottom: 250px; */
	right: 45px;
	transition: all .4s ease;
}

.thunder img.show {
	opacity: 1;
}

.disable {
	pointer-events: none;
}


/*

canvas { 
  height: 100vh; 
  width: 100vw; 
  display: block;
	 background: transparent;
    background-color: transparent;
    background-image: none;
}*/

.rabbit {
	animation: default 1.5s steps(32) infinite;
	background: url(../img/rabbit/idle4.png) -20px 10px no-repeat;
	height: 200px;
	width: 250px;
	position: absolute;
	left: 150px;
	bottom: 0;

}

@keyframes default {
	100% {
		background-position: -8820px 10px;
	}
}

.attack {
	animation: rabbit-atack 1.5s steps(16) infinite;
	background: url(../img/rabbit/attack3.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes rabbit-atack {
		100% {
		background-position: -4578px 5px;
	}
	
}



.run {
	animation: run 1s steps(24) infinite;
	background: url(../img/rabbit/run.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes run {
		100% {
		background-position: -6861px 5px;
	}
	
}




.damage {
	animation: damage .6s steps(16) infinite;
	background: url(../img/rabbit/damage.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes damage {
		100% {
		background-position: -4585px 5px;
	}
	
}



.lose {
	animation: lose 1s steps(20) infinite;
	background: url(../img/rabbit/lose.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes lose {
		100% {
		background-position: -5728px 5px;
	}
	
}




.run-away {
left:150%;
transition: left 7s;
}


.add-health{
	display: none;
    animation: health 1.5s steps(20) infinite;
    background: url(../img/heart.png) no-repeat;
    width: 183px;
    height: 173px;
    position: absolute;
    left: 218px;
    top: -150px;
    z-index: 10;
    background-size: contain;
}

@keyframes health {
		100% {
		top: 150px;
    width: 30px;
	}
	
}
.add-health.active-health{
	display: block;
}

.overlay-choice{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.choice-magic-modal{
	background: url(../img/modal1.png) no-repeat;
	background-size: cover;
	width: 500px;
	height: 500px;
	z-index: 10;
	position: relative;
	    border: 3px solid #000;
    border-radius: 50%;
	-webkit-box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 59px 6px rgba(0,0,0,0.75);

}

.buttons-magic{
	position: relative;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-magic p{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 44px;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Permanent Marker', cursive;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.fire-btn{
	position: absolute;
    top: -40px;
    margin: 0;
    left: 40%;
	background: url(../img/flame-magic.png) no-repeat;
	background-size: cover;
	
    border-radius: 50%;
	

}
.thunder-b{
    position: absolute;
    bottom: 42%;
    margin: 0;
    left: -40px;
	background: url(../img/thunder-magic.png) no-repeat;
	background-size: cover;
}


.ice-btn{
    position: absolute;
    bottom: 42%;
    margin: 0;
    right: -40px;
	background: url(../img/ice-magic.png) no-repeat;
	background-size: cover;
}


.health-btn{
	position: absolute;
    bottom: -40px;
    margin: 0;
    left: 40%;
	background: url(../img/health-magic.png) no-repeat;
	background-size: cover;
	
    border-radius: 50%;
	

}