* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
}

.buttons {
	z-index: 2;
	user-select: none;
}

button {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: tomato;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	margin: 50px;
	transition: all .2s ease;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
	background-color: red;
}

.container {
	position: absolute;
	left: 0px;
	bottom: 10px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: flex-end;
	padding: 0px 150px;
	box-sizing: border-box;
}

.character-container {
	width: 200px;
	height: 200px;
	position: relative;
}

.anticharacter-container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	/*    background-color: red;  */
}

.ogr {
	width: 184px;
}

.hero {
	width: 138px;
	position: relative;
	z-index: 5;
}

.hand {
	width: 34px;
	position: absolute;
	top: 110px;
	right: 80px;
	z-index: 4;
	transition: all .2s ease;
}

.hand.active {
	width: 34px;
	position: absolute;
	top: 87px;
	right: 60px;
	z-index: 4;
	transform: rotate(-90deg);
}

.left-leg {
	position: absolute;
	bottom: -12px;
	left: 61px;
	z-index: 3;
	transition: all .2s ease;
	width: 44px;
	height: 37px;
}

.active-left {
	transform: rotate(-12deg);
	left: 71px;
}

.active-right {
	transform: rotate(-18deg);
}

.right-leg {
	position: absolute;
	bottom: -12px;
	left: 30px;
	z-index: 4;
	transition: all .2s ease;
	width: 44px;
	height: 37px;
}

.fire {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	right: 150px;
}

.fire img {
	opacity: 0;
	width: 400px;
	position: relative;
	bottom: 250px;
	right: 81px;
	transition: all .4s ease;
}

.fire img.show {
	opacity: 1;
}

.thunder {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	right: 150px;
	transform: rotate(-50deg);
}

.thunder img {
	opacity: 0;
	width: 300px;
	position: relative;
	/* bottom: 250px; */
	right: 45px;
	transition: all .4s ease;
}

.thunder img.show {
	opacity: 1;
}

.disable {
	pointer-events: none;
}


/*

canvas { 
  height: 100vh; 
  width: 100vw; 
  display: block;
	 background: transparent;
    background-color: transparent;
    background-image: none;
}*/

.rabbit {
	animation: default 1.5s steps(32) infinite;
	background: url(../img/rabbit/idle4.png) -20px 10px no-repeat;
	height: 200px;
	width: 250px;
	position: absolute;
	left: 150px;
	bottom: 0;

}

@keyframes default {
	100% {
		background-position: -8820px 10px;
	}
}

.attack {
	animation: rabbit-atack 1.5s steps(16) infinite;
	background: url(../img/rabbit/attack3.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes rabbit-atack {
		100% {
		background-position: -4578px 5px;
	}
	
}



.run {
	animation: run 1s steps(24) infinite;
	background: url(../img/rabbit/run.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes run {
		100% {
		background-position: -6861px 5px;
	}
	
}




.damage {
	animation: damage .6s steps(16) infinite;
	background: url(../img/rabbit/damage.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes damage {
		100% {
		background-position: -4585px 5px;
	}
	
}



.lose {
	animation: lose 1s steps(20) infinite;
	background: url(../img/rabbit/lose.png) -20px 5px no-repeat;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 150px;
	bottom: 0;
}

@keyframes lose {
		100% {
		background-position: -5728px 5px;
	}
	
}




.run-away {
left:150%;
transition: left 7s;
}
	